<a href="https://colab.research.google.com/github/kkthej/EyeTracker/blob/master/pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **installing  pyspark and py4j**

In [25]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.6/dist-packages (3.0.0)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.6/dist-packages (from pyspark) (0.10.9)

# **setting up path for java and spark**

In [36]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/usr/local/lib/python3.6/dist-packages/pyspark"

print list of files in sample data

In [45]:
print (os.listdir('./sample_data'))

['anscombe.json', 'README.md', 'transactions.csv', 'olympics.csv', 'users.csv', 'california_housing_test.csv', 'mnist_test.csv', 'mnist_train_small.csv', 'california_housing_train.csv']

In [46]:
transactions = './sample_data/transactions.csv'
users = './sample_data/users.csv'

In [47]:
import findspark
findspark.init()

In [53]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [54]:
df = spark.read.csv(users, inferSchema=True, header =True)

In [55]:
print (type(df))

<class 'pyspark.sql.dataframe.DataFrame'>

In [56]:
df.printSchema()

root
 |-- 1: integer (nullable = true)
 |-- user1@company.com: string (nullable = true)
 |-- ES: string (nullable = true)
 |-- MX: string (nullable = true)

In [57]:
df.show()

+---+------------------+---+---+
|  1| user1@company.com| ES| MX|
+---+------------------+---+---+
|  2|  user4@domain.com| EN| US|
|  3| user5@company.com| FR| FR|
|  4|    user9@site.org| HI| IN|
|  5| user12@service.io| EN| CA|
|  6|user17@website.net| FR| FR|
|  7|user21@company.com| FR| FR|
|  8|user25@company.com| FR| FR|
|  9| user27@school.edu| ES| MX|
| 10|user31@website.net| EN| CA|
| 11|user36@website.net| FR| FR|
| 12| user39@domain.com| FR| FR|
| 13|user41@company.com| ES| MX|
| 14| user45@domain.com| HI| IN|
| 15|   user48@site.org| ES| MX|
| 16| user53@school.edu| EN| US|
| 17| user57@school.edu| ES| MX|
| 18|user59@website.net| HI| IN|
| 19| user64@school.edu| EN| US|
| 20| user67@domain.com| HI| IN|
| 21|   user68@site.org| EN| US|
+---+------------------+---+---+
only showing top 20 rows